@model SantaProject.Classes.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <h4><strong>@Html.DisplayNameFor(model => model.Kid)</strong></h4>
        </dt>

        <dd>
            <h4>@Html.DisplayFor(model => model.Kid)</h4>
        </dd>
        
        <dt>
            <h4><strong>@Html.DisplayNameFor(model => model.Status)</strong></h4>
        </dt>

        <dd>
            <h4>@Html.DisplayFor(model => model.Status)</h4>
        </dd>

        <dt>
            <h4><strong>@Html.DisplayNameFor(model => model.Toys)</strong></h4>
        </dt>

        <dd>
            <h4>@String.Join(", ", Model.Toys.Select(toy => toy.Name));</h4>
        </dd>

        <dt>
            <h4><strong>@Html.DisplayNameFor(model => model.RequestDate)</strong></h4>
        </dt>

        <dd>
            <h4>@Html.DisplayFor(model => model.RequestDate)</h4>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
